@import './naive-cover.scss';
html,
body,
pre,
input,
textarea,
#app {
  font-family: 'PingFang SC';
  overflow: hidden;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  background: #1e1e1e;

  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #f3f3f6 0%, #edeffc 100%);
}

// 公共header
.home-header {
  height: 72px;
  padding: 10px 32px 10px 44px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background: white;
  .highlight-btn {
    margin-top: 6px;
  }
}

// 全局滚动条样式
::-webkit-scrollbar {
  position: absolute;
  right: -8px;
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 4px;
  background: #d2d1dc;
  border-radius: 4px;
  width: 6px;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 4px;
  background: none;
}

i.default {
  font-size: 24px;
  cursor: pointer;
  color: #bec3c5;
  &:hover {
    color: #181d24;
  }
}
// 全局按钮

// 高亮按钮
.highlight-btn {
  background: #5652ff;
  color: #ffffff !important;

  .iconfont {
    font-size: 20px;
    margin-right: 8px;
  }

  &:hover {
    background: #716efe !important;
  }
}

// 边框按钮，无背景色
.border-btn {
  margin-left: 0;
  background: #ffffff;
  border: 1px solid #5652ff;
  color: #5652ff;
  &:hover {
    background: #eeedfe !important;
    color: #5652ff !important;
  }
}

// 边框按钮，有背景色
.border-bg-btn {
  width: 105px;
  background: #eeedfe;
  border: 1px solid #5652ff;
  color: #5652ff;

  &:hover {
    background: #d6d3ff !important;
    color: #5652ff !important;
  }
}
// 取消按钮
.cancel-btn {
  background: #e3e4e5;
  border-radius: 2px;
  &:hover {
    background: #f3f3f3 !important;
  }
}

// 渐变按钮
.gradient-btn.n-button {
  background: linear-gradient(101.85deg, #957bfb 0%, #5652ff 98.88%);
  height: 54px !important;
  box-sizing: border-box;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 16px !important;
  color: #ffffff;
  float: right;

  &:hover {
    background: linear-gradient(109.65deg, #a994ff 30.38%, #657eff 98.29%);
  }

  span {
    display: flex !important;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
  }

  em {
    display: flex !important;
    flex-direction: column;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin-top: 6px;
    color: #ffffff;
    font-style: normal;
  }
}
