/** 全局覆盖 naive ui 组件的样式 **/

//弹出框关闭按钮重写
.n-modal {
  background: white;
  .n-base-close.n-dialog__close {
    background: none;
    .n-base-icon {
      display: none;
      opacity: 0;
    }
    &:before {
      display: none;
    }
    &:after {
      font-family: 'iconfont';
      content: '\e653';
      font-size: 24px;
      color: #bebfc0;
    }
    &:hover {
      &:after {
        color: #5b5d62;
      }
    }
  }

  .n-dialog__action {
    .n-button {
      margin-right: 12px;
      margin-left: 0 !important;
      border-radius: 8px !important;
      --n-border: none !important;
      --n-border-hover: none !important;
      --n-border-focus: none !important;
    }
    .n-button:last-child {
      margin-right: 0px;
    }
    .n-button--primary-type,
    .n-button--info-type {
      background: #5652ff !important;
      color: #ffffff !important;
      &:hover {
        background: #716efe !important;
      }
    }
  }
}
// 提示弹出框 $dialog 或简单定义提示弹出框 prompt-dialog
.prompt-dialog {
  border-radius: 12px !important;
  .n-dialog__title {
    margin-bottom: 16px;
    color: #181d24;
    font-size: 20px;
    font-weight: 500;
  }

  .n-dialog__action {
    margin-top: 48px;
    .n-button--info-type,
    .n-button--default-type {
      width: 68px;
      height: 36px;
    }
    .n-button--default-type {
      background: #e3e4e5;
      border: none;
      color: #202226;
      &:hover {
        background: #f3f3f3 !important;
        color: #202226 !important;
      }
    }
  }
}
// 内容弹出框
.content-dialog {
  border-radius: 16px;
  padding: 24px;
  width: auto !important;
  .n-modal {
    width: auto !important;
  }
  .n-dialog__content {
    margin: 8px 0 20px 0;
  }
  .n-dialog__title {
    color: #181d24;
  }

  .n-dialog__action {
    margin-top: 0 !important;
    .n-button--default-type {
      background: #ffffff !important;
      border: 1px solid #5652ff !important;
      color: #5652ff !important;
      &:hover {
        background: #eeedfe !important;
      }
    }
  }
}

.n-spin {
  color: #e3e4e5;
}
// 按钮基础修改
.n-button {
  border-radius: 8px;
  --n-border: none !important;
  --n-border-hover: none !important;
  --n-border-focus: none !important;
}
.n-button--large-type {
  height: 40px !important;
  line-height: 40px;
  font-weight: 500;
  font-size: 16px;
}
.n-button--medium-type {
  height: 36px;
  line-height: 36px;
  font-weight: 400;
  font-size: 14px;
  width: 132px;
}
