/* css 变量 */  
:root {
  /* 品牌青 */
  --brand-cyan: #7ce7fb;
  /* 辅助紫 */
  --sub-purple: #5d57f6;
  /* 辅助蓝 */
  --sub-blue: #102183;
  /* 链接色 */
  --link-color: #102183;
  /* danger 色 */
  --color-danger: #dc504c;
  /* 背景色•深 */
  --bg-color-1: #101010;
  --bg-color-2: #1c1c1c;
  --bg-color-3: #282a2e;
  --bg-color-4: #37393e;
  --bg-color-5: #4b4d53;
  /* 文字色 */
  --text-color-primary: #ffffff;
  --text-color-regular: #d8d9db;
  --text-color-secondary: #bec3c5;
  --text-color-tertiary: #828489;
  --text-color-white: #ffffff;
}