@font-face {
  font-family: "iconfont"; /* Project id 3675919 */
  src: url('iconfont.woff2?t=1668148668313') format('woff2'),
       url('iconfont.woff?t=1668148668313') format('woff'),
       url('iconfont.ttf?t=1668148668313') format('truetype'),
       url('iconfont.svg?t=1668148668313#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-huifu:before {
  content: "\e63f";
}

.icon-icon-simihuati-da:before {
  content: "\e640";
}

.icon-icon-xitongshezhi:before {
  content: "\e639";
}

.icon-icon-xiaoxiduidie:before {
  content: "\e63a";
}

.icon-icon-xiaoxitixing:before {
  content: "\e63b";
}

.icon-icon-yinyongguanbi:before {
  content: "\e63c";
}

.icon-icon-xingqiubiaoqing:before {
  content: "\e63d";
}

.icon-icon-shangchuanwenjian:before {
  content: "\e63e";
}

.icon-icon-biaoqing:before {
  content: "\e626";
}

.icon-icon-guanbi-da:before {
  content: "\e627";
}

.icon-icon-gerenziliao:before {
  content: "\e628";
}

.icon-icon-qiehuanjiantou:before {
  content: "\e629";
}

.icon-icon-chengyuan:before {
  content: "\e62a";
}

.icon-icon-guanbi-xiao:before {
  content: "\e62b";
}

.icon-icon-gengduo:before {
  content: "\e62c";
}

.icon-icon-tianjiafenzu:before {
  content: "\e62d";
}

.icon-icon-chengyuanguanli:before {
  content: "\e62e";
}

.icon-icon-chuangjianfenzu:before {
  content: "\e62f";
}

.icon-icon-guanbi:before {
  content: "\e630";
}

.icon-icon-tianjia:before {
  content: "\e631";
}

.icon-icon-huati-da:before {
  content: "\e632";
}

.icon-icon-xialajiantou:before {
  content: "\e633";
}

.icon-icon-huati-xiao:before {
  content: "\e634";
}

.icon-icon-yaoqinghaoyou:before {
  content: "\e635";
}

.icon-icon-shangchuantupian:before {
  content: "\e636";
}

.icon-icon-tuichudenglu:before {
  content: "\e637";
}

.icon-icon-xingqiushezhi:before {
  content: "\e638";
}

